<div class="max-w-3xl mx-auto px-4 py-8">
  <div class="bg-muted shadow rounded-lg p-6">
    <div class="flex flex-col items-center justify-between mb-6">
      
      <div class="relative aspect-square overflow-hidden rounded-full mb-4">
        <%= image_tag(@user.avatar_url(:medium), class: "object-cover w-40 h-40 group-hover:scale-105 transition-transform duration-500") %>
      </div>
      
      <h1 class="text-2xl font-bold text-default py-3">
        <% # @user.username %>
        <%= @user.social_title %>
      </h1>

      <p class="text-sm text-muted pb-4">
        <%= @user.social_description %>
      </p>
      
      <% if current_user == @user %>
        <div class="space-x-4">
          <%= link_to 'Add New Link', new_user_user_link_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
          <%= link_to 'Configure Social Media', wizard_new_user_user_links_path, class: 'inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
        </div>
      <% end %>
    </div>

    <div class="space-y-4">
      <% @user_links.each do |link| %>
        <div class="block p-4 bg-default rounded-lg border border-muted">
          <div class="flex items-center justify-between">
            <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer" 
               class="flex items-center space-x-3 flex-1 hover:opacity-75 transition-opacity duration-200">
              <i class="<%= link.icon_class %> text-muted"></i>
              <div class="flex flex-col">
              <span class="font-medium text-default"><%= link.title %></span>
                <p class="text-sm text-muted mt-1">
                  <%= link.url %>
                </p>
              </div>
              
            </a>
            
            <% if current_user == @user %>
              <div class="flex space-x-2 text-xs">
                <%= link_to 'Edit', edit_user_user_link_path(@user.username, link), 
                    class: 'text-muted hover:text-default', data: { turbo_target: '_top' } %>
                <%= button_to 'Delete', user_user_link_path(@user.username, link), 
                    method: :delete, 
                    class: 'text-muted hover:text-default', 
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @user_links.empty? %>
        <div class="text-center py-12">
          <p class="text-muted">No links added yet</p>
          <% if current_user == @user %>
            <div class="mt-4">
              <%= link_to 'Add your first link', new_user_user_link_path, 
                  class: 'text-indigo-600 hover:text-indigo-500' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
