<div class="m-4 rounded-lg border border-default bg-card text-card-foreground shadow-sm">
  
  <div class="p-6 pt-0 space-y-6">

    <h2 class="text-2xl py-4 font-bold">
      <%= link_to user_products_path(current_user.username), class: 'btn btn-xs' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
      <% end %>
      <%= product.new_record? ? "List Your Music Gear" : "Edit Gear Listing" %>
    </h2>

    <%= form_with(model: product, 
        url: product.new_record? ? 
            user_products_gear_index_path(current_user.username) : 
            user_products_gear_path(current_user.username, product),
        local: true,
        scope: :product,
        data: { controller: "submit-on-change" }) do |form| %>

      <%= render 'products/shared/form_errors', form: form %>

      <div class="grid md:grid-cols-5 gap-4 grid-cols-1">
        <div class="block pt-0 space-y-3 md:col-span-2">
          <div class="flex space-x-2">
            <%= form.select :category, 
                Products::GearProduct.categories.keys
                            .select { |k| ['instrument', 'audio_gear', 'dj_gear'].include?(k) }
                            .map { |c| [c.titleize, c] },
                { prompt: "Select category" },
                { data: { action: "change->submit-on-change#submitForm" } } %>
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <%= form.text_field :brand %>
            </div>

            <div>
              <%= form.text_field :model %>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <%= form.number_field :year, min: 1900, max: Time.current.year %>
            </div>

            <div>
              <%= form.select :condition, 
                  Product.conditions.keys.map { |c| [c.titleize, c] },
                  { prompt: "Select condition" } %>
            </div>
          </div>

          <%= form.text_field :title %>
          <%= render "shared/simple_editor", form: form, field: :description %>

          <div class="mt-4">
            <div class="flex items-start">
              <%= form.check_box :accept_barter,
                  class: "rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                  hint: "Check this if you're willing to accept item trades",
                  data: { 
                    action: "change->submit-on-change#submitForm",
                    "accordeon-target": "toggle"
                  } 
              %>
            </div>
          </div>

          <% if form.object.accept_barter? %>
            <div class="mt-4">
              <%= form.text_area :barter_description, 
                  rows: 3,
                  placeholder: "Describe what kind of gear you'd consider trading for..."
              %>
            </div>
          <% end %>

        </div>

        <div class="flex flex-col flex-grow md:col-span-3 col-span-1">
          <%= render "products/shared/pricing_section", form: form %>
          <%= render "products/shared/photos_section", form: form %>
          <%= render "products/shared/shipping_section", form: form %>
          <%= render "products/shared/submit_button", form: form %>
        </div>

      </div>
    <% end %>
  </div>
</div>
