<div class="container">
  <div class="row mb-4">
    <div class="col">
      <h1>Music Gear</h1>
      <%= link_to 'Add New Gear', new_user_products_gear_path(current_user.username), class: 'btn btn-primary' if current_user == @profile %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= search_form_for @q, url: user_products_gear_index_path(@profile.username), class: 'form-inline' do |f| %>
        <div class="form-group mr-2">
          <%= f.search_field :title_cont, placeholder: 'Search by title', class: 'form-control' %>
        </div>
        <div class="form-group mr-2">
          <%= f.select :category_eq, 
              [['All Types', '']] + Products::GearProduct.categories.keys
                                   .select { |k| ['instrument', 'audio_gear', 'dj_gear'].include?(k) }
                                   .map { |c| [c.titleize, c] },
              {}, class: 'form-control' %>
        </div>
        <div class="form-group mr-2">
          <%= f.select :condition_eq, 
              [['Any Condition', '']] + Product.conditions.keys.map { |c| [c.titleize, c] },
              {}, class: 'form-control' %>
        </div>
        <div class="form-group mr-2">
          <%= f.select :brand_eq, 
              [['All Brands', '']] + @available_brands.map { |b| [b, b] },
              {}, class: 'form-control' %>
        </div>
        <div class="form-check mr-2">
          <%= f.check_box :accept_barter_true, class: 'form-check-input' %>
          <%= f.label :accept_barter_true, 'Barter Only', class: 'form-check-label' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <%= render 'products/shared/product_card', product: product %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <%= paginate @products %>
    </div>
  </div>
</div>
