<div class="m-4 rounded-lg border border-default bg-card text-card-foreground shadow-sm">
  
  <div class="p-6 pt-0 space-y-6">

    <h2 class="text-2xl py-4 font-bold">
      <%= product.new_record? ? "New Accessory" : "Edit Accessory" %>
    </h2>

    <%= form_with(model: product, 
        url: product.new_record? ? 
            user_products_accessory_index_path(current_user.username) : 
            user_products_accessory_path(current_user.username, product),
        local: true, 
        data: { controller: "submit-on-change" }) do |form| %>

      <%= render 'products/shared/form_errors', form: form %>

      <div class="grid md:grid-cols-5 gap-4 grid-cols-1">
        <div class="block pt-0 space-y-3 md:col-span-2">
          <div class="flex space-x-2">
            <%= form.select :category, 
                Products::AccessoryProduct.categories.keys.map { |c| [c.titleize, c] },
                { prompt: "Select category" },
                { data: { action: "change->submit-on-change#submitForm" } } %>
          </div>

          <%= form.text_field :title %>
          <%= render "shared/simple_editor", form: form, field: :description %>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <%= form.text_field :brand %>
            </div>

            <div>
              <%= form.text_field :model %>
            </div>
          </div>
        </div>

        <div class="flex flex-col flex-grow md:col-span-3 col-span-1">
          <%= render "products/shared/pricing_section", form: form, show_limited_edition: true %>
          <%= render "products/shared/photos_section", form: form %>
          <%= render "products/shared/shipping_section", form: form %>
          <%= render "products/shared/submit_button", form: form %>
        </div>
      </div>
    <% end %>
  </div>
</div>
