<div class="mx-auto lg:w-2/4 my-4 px-4 lg:px-2">
  <h2 class="text-2xl py-4 font-bold">
    <%= product.new_record? ? "New Music Product" : "Edit Music Product" %>
  </h2>

  <%= form_with(model: product, 
      url: product.new_record? ? 
           user_products_music_index_path(current_user.username) : 
           user_products_music_path(current_user.username, product),
      local: true, 
      data: { controller: "submit-on-change" }) do |form| %>

    <% if form.object.errors.any? %>
      <div class="py-3">
        <p class="text-danger text-red-500 text-2xl">Errors Found</p>
        <%= form.object.errors.full_messages.join(" ") %>
      </div>
    <% end %>

    <div class="space-y-3">
      <div class="block pt-0 space-y-3">
        <div class="flex space-x-2">
          <%= form.select :category, 
              Products::MusicProduct.categories.keys
                                 .select { |k| ['vinyl', 'cassette', 'cd'].include?(k) }
                                 .map { |c| [c.titleize, c] },
              { prompt: "Select format" },
              { data: { action: "change->submit-on-change#submitForm" } } %>

          <%= form.select :playlist_id, 
              current_user.playlists.where(playlist_type: ["album", "ep"])
                        .map { |o| [o.title, o.id] },
              { prompt: "Select album" },
              { required: true } %>
        </div>

        <%= form.text_field :title %>
        <%= render "shared/simple_editor", form: form, field: :description %>
      </div>

      <%= render "products/shared/pricing_section", form: form, show_limited_edition: true %>

      <div>
        <%= form.check_box :include_digital_album, class: "rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        <span class="ml-2">Include digital album with purchase</span>
      </div>

      <%= render "products/shared/photos_section", form: form %>
      <%= render "products/shared/shipping_section", form: form %>

      <%= render "products/shared/submit_button", form: form %>

    </div>
  <% end %>
</div>
