<!DOCTYPE html>
<html>
  <head>
    <title><%= @user.social_title.presence || "#{@user.username}'s Links" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= @user.social_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if @user.google_analytics_id.present? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @user.google_analytics_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= @user.google_analytics_id %>');
      </script>
    <% end %>

    <% if @user.facebook_pixel_id.present? %>
      <!-- Meta Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '<%= @user.facebook_pixel_id %>');
        fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=<%= @user.facebook_pixel_id %>&ev=PageView&noscript=1"/>
      </noscript>
      <!-- End Meta Pixel Code -->
    <% end %>
  </head>

  <body class="dark bg-default">
    <div class="min-h-screen flex flex-col">
      <main class="flex-grow container mx-auto px-4 py-8 max-w-lg">
        <%= yield %>
      </main>

      <footer class="py-4 text-center text-sm text-muted">
        <a href="https://rauversion.com" target="_blank" rel="noopener noreferrer" class="hover:text-gray-700">
          Powered by Rauversion
        </a>
      </footer>
    </div>

    <div class="flash">
      <%= render "shared/flash" %>
    </div>

    <%= turbo_frame_tag "modal" %>
    <%= render "shared/turbo_delete_modal" %>

    <% # if @user.custom_analytics_code.present? %>
      <% # raw @user.custom_analytics_code %>
    <% # end %>
  </body>
</html>
